asgiref
attrs
django>=4.2,<5.0
django-cors-headers>=4.3
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
drf-spectacular>=0.27
drf-yasg
gunicorn
inflection
jsonschema
jsonschema-specifications
packaging
pyjwt
python-dotenv
pytz
pyyaml
referencing
rpds-py
sqlparse
typing-extensions
uritemplate
whitenoise
